@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: burlywood;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  width: 500px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(243, 162, 133);
}

.break--container, .session--container, .display--container {
  border: 1px solid;
  width: 50%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

.space {
  width: 25%;
  height: 35%;
  border: 1px solid;
}

.title--container, .control--container {
  border: 1px solid;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}

.control {
  display: flex;
}

.control--button {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
}

.control--button:hover {
  color: red;
}

.restart {
  margin-left: 10px;
}

.display--container {
  margin: 0 auto;
}

.arrow {
  display: flex;
  align-items: center;
}

.arrow--icon {
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}

.arrow--icon:hover {
  color: red;
}

.arrow--text, .display--text {
  font-size: 1.7em;
}

.arrow--text {
  margin-left: 10px;
  margin-right: 10px;
}